/* Slider */
.slick-slider
{
    
}
.slick-slide{
    text-align: center;
}
.slick-list
{
    overflow: hidden;
}

.slick-track
{
    display: flex;
}
.slick-loading .slick-track
{
    visibility: hidden;
}
.slick-slide img
{
    display: block;
    box-shadow: 0 0 10px rgba(0,0,0,7);
}
.slick-slide.slick-loading img
{
    display: none;
}
